@media (max-width:450px) {
    * {min-zoom: 0;
    max-zoom: 3;
    user-zoom: yes;
    max-width: 100vw;
    max-height: 100vh
    }
    .caption3 {
        display: none;
    } 
    body {
        max-width: 100vw;
        max-height: 100vh;
        margin: 2vh 3.5vw;
    }

    .primary-footer {
        padding: 2vh 2vw;
    }
    
    img.logo {
        max-width: 30vw;
        /* position:relative; */
        position: top left;
        border: 0vh 0vw;
        display:inline-flex;
    }
    .tagline {
        max-width: 55vw;
        font-size: 1rem;
        margin-top: 6vh;
        margin-bottom: 2vh;
        position: relative;
        display: inline-flex;
    }

    h3.tagline {
        text-align: right;
    }
    .nav, .primary-nav {
        max-width: 95vw;
        text-align: center;
        display: inline-flex;
    }
    .li a{
        max-width: 90vw;
        font-size: 1rem;
        margin: 0 auto;
        position: relative;
        float:initial;
    }
    .hero.container {
        max-width: 100vw;
        padding: 3vh 5vw;
        line-height: 4vh;
    }
    .hero h1 {
        font-size: 1.25rem;
        line-height: 4vh;
        max-width: -moz-fit-content;
        max-width: fit-content;
        position: relative;
    }
    .hero p {
        font-size: 1em;
        max-width: -moz-fit-content;
        max-width: fit-content;
        position: relative;
    }
}

@media (min-width: 451px)(max-width:800px) {
    * {min-zoom: 0;
    max-zoom: 3;
    user-zoom: yes;
    max-width: 100vw;
    max-height: 100vh;
    }
    .caption3 {
        display: none;
    } 
    body {
        max-width: 100vw;
        max-height: 100vh;
        margin: 2vh 3.5vw;
    }
    
    img.logo {
        max-width: 30vw;
        /* position:relative; */
        position: top left;
        border: 0vh 0vw;
        display:inline-flex;
    }
    .tagline {
        max-width: 55vw;
        font-size: 1rem;
        margin-top: 6vh;
        margin-bottom: 2vh;
        position: relative;
        display: inline-flex;
    }

    h3.tagline {
        text-align: right;
    }
    .nav, .primary-nav {
        max-width: 95vw;
        text-align: center;
        display: inline-flex;
    }
    .li a{
        max-width: 90vw;
        font-size: 1rem;
        margin: 0 auto;
        position: relative;
        float:initial;
    }
    .hero.container {
        max-width: 100vw;
        padding: 3vh 5vw;
    }
    .hero h1 {
        font-size: 1.25rem;
        max-width: -moz-fit-content;
        max-width: fit-content;
        position: relative;
    }
    .hero p {
        font-size: 1em;
        max-width: -moz-fit-content;
        max-width: fit-content;
        position: relative;
    }
}
/*
=================================================
Grid
=================================================
*/


*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing:border-box;
}

.container, .grid {
    margin: 0 auto;
    width: 100vw;
}
div.grid {
    margin: 0 0;
}
.container {
    padding-left: 1vw;
    padding-right: 1vw;
}
.img-container {
    background-color: #050505;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}
.col-1-3 {
    width: 32vw;
    margin: none;
}
.col-1-3 p {
    color: #000;
}
.col-1-3 a {
    color:#ef7504;
    text-decoration: underline;
}

.col-2-3 {
    width: 65vw;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}

.grid {
    background-color:#fff
}
/*
================================================
Typography
================================================
*/


h1, h3, h4, h5, p {
    margin-bottom: 2vh;
}


/*
=================================================
Buttons
=================================================
*/


.btn {
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin: 0;
}

.btn-alt {
    border: 1px solid #fff;
    padding: 10px 30px;
}

.btn-alt:hover {
    background: #6e3602;
    color: #fff ;
}

/*
===========================================
Home
===========================================
*/


.hero {
    color: #000;
    padding: 22px 80px 66px 80px;
    line-height: 44px;
    text-align: center;
}
.hero h1 {
    color:#000;
    font-weight: bold;
}
.hero h2 {
    font-size: 36px;
}

.hero p {
    color: #000;
    font-size: 24px;
    font-weight: 300;
}

.hero.container {
   
    background-color:#ef7504;
    background-image: url("assets/images/home/trailersheading.jpg");
   
}
.hero.container {
    color:#dfe2e5
}

.teaser a:hover h3 {
    color: #f2f4f6;
}

.teaser img {
    border-radius: 5px;
    display: block;
    margin-bottom: 22px;
    max-width: 100%;
}

section.teaser.col-1-3 img {
    border-radius: 5px;
    display: block;
    margin-bottom: 22px;
    max-width: 100%;
}

.speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding-bottom: 22px;
    text-align: center;
}

.speaker-info img {
    border-radius: 50%;
    height: 130px;
    margin: -66px 0 22px 0;
    vertical-align: top;
}

.primary-header {
    background-color: #050505;
}

.primary-footer {
    background-color: #050505;
}




/*
===========================================
Clearfix
===========================================
*/


.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear:both;
}

.group {
    clear:both;
    *zoom: 1;
}

/*
==========================================
Rows
==========================================
*/

.row,
.row-alt {
    min-width: 960px; 
}

.row {
    background: #fff;
    padding: 66px 0 44px 0;
}

.row-alt {
    background-color: #ef7504;
    padding: 44px 0 22px 0;
}


/*
===========================================
Primary header
===========================================
*/

img.logo {
    display: inline-block;
    width: 300px;
    padding: 0;
    margin: 0;
  
}
.logo {
    border-top: 4px solid #050505;
    padding: 40px 0 22px 0;
    float: left;
    font-size: 48px;
    font-weight: 100;
    line-height: 44px;
    text-transform: uppercase;
}

.logo a {
    font-family: 'Allerta Stencil', sans-serif;
    text-decoration: none;
}

.tagline {
    margin: 66px 0 22px 0;
    text-align: right;
}

.primary-nav {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}


/*
===========================================
Primary footer
===========================================
*/


.primary-footer small {
    float:left;
    font-weight: 400;
    color: #edf2f2;
}

.primary-footer {
    padding-bottom: 44px;
    padding-top: 44px;
    color: #fff;
    font-size: 14px;
}

/*
===========================================
Custom Styles
===========================================
*/
 body p, .legal {
    color:#fff;
    font-size: 18px;
}

body {
    background: #050505;
    color:#fff;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4 {
    color: #eff4f2
}

h3.caption2 {
    color:#050505;
    font-style: bold;
}

.lead.container {
    background-color:#ef7504;
}

.lead.link {
    text-decoration: underline;
}

.lead,
.lead p {
    color:#000;
}
.lead {
    font-weight: bold;
}
.lead p{
    font-weight:300;
}

.label {
    color:#050505;
}


h1 {
    font-size: 36px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 44px;
}
.label h2 {
    color:#050505;
}
.col-1-3 h2 {
    color:#050505;
}
.speaker p {
    color: #050505;

}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 18px;
}

h5 {
    color: #161616;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

strong {
    font-weight: 400;
}

cite, em {
    font-style: italic;
}
* {
    box-sizing: border-box;
  }
  
 
/* 
=======================================
Links
=======================================
*/

a {
    color: #050505;
    text-decoration: none;
    
}


p a {
    
    color: #fff;
    text-decoration: none;

}

.primary-header a,
.primary-footer a {
    color: #fff;
}

.primary-header a:hover,
.primary-footer a:hover {
    color: #ef7504;
    text-shadow:#00070c;
    font-size: 20px;
}
/*
======================================
Navigation
======================================
*/

.nav {
    text-align: right;
}

.nav li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.nav li:last-child {
    margin-right: 0;
}


/* 
======================================
Leads
======================================
*/

.lead {
    text-align: center;
}

.lead a {
    color:#000;
    text-decoration: none;
    
}

.lead p {
    font-size: 24px;
    line-height: 33px;
}

/*
======================================
Speakers
======================================
*/

.speaker-info {
    border: 1px solid #dfe2e5;
    border-radius: 5px;
    margin-top: 88px;
    padding: 22px 0;
    text-align: center;
}

.speaker {
    margin-bottom: 44px;
}

/*
======================================
Venue
======================================
*/

.venue-theatre {
    margin-bottom: 66px;
}

.venue-hotel {
    margin-bottom: 22px;
}

.venue-map {
    height: 264px;
}
